.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  margin: 10px;
  padding: 10px;

  h1 {
    font-size: x-large;
    font-family: $serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
  }

  .by-line {
    color: $gray;
  }

  li {
    list-style-type: disc;
    margin: 12px;
    padding-top: 10px;
  }
}
