.main-nav {
  display: flex;
  flex-direction: row;
  font-family: $sans-serif;
  font-size: 16px;

}

.left-nav > ul,
.right-nav > ul {
  // justify-content: space-between;

}

.left-nav {
  > ul {
    > li {
    }
  }

  span {
  }
}

.right-nav {
  > ul {
    > li {
      background-color: $blue;
      color: white;
      margin: 2px;
      padding: 2px;
      border-radius: 2px;
    }

    > li:last-of-type {
      background-color: white;
    }
  }

  i {
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
}
