.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $sans-serif;
  font-size: 12px;
  border-bottom: solid 1px $light-gray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
}

.left-nav {
  > ul {
    justify-content: start;
    > li {
      margin: 10px;
      border-radius: 2px;
      padding: 5px;
      display: flex;
      align-items: center;
    }
  }

  span {
    margin-left: 12px;
  }
}

.right-nav {
  > ul {
    font-weight: bold;
    justify-content: end;
    > li {
      background-color: $light-blue;
      color: white;
      margin: 10px 2px 10px 2px;
      border-radius: 2px;
      padding: 5px;
    }

    > li:last-of-type {
      background-color: white;
    }
  }

  i {
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}
.blue-button:hover {
  background-color: $blue;
}

@media only screen and (max-width: 1000px) {
  .blue-button {
    display: none;
  }
}
