.sections-nav {
  display: flex;
  justify-content: center;
  padding: 5px 8px 5px 8px;
  font-size: 12px;
  border-bottom: solid 1px $light-gray;
}

.sections-nav li {
  padding: 5px 5px 5px 5px;
}

.sections-nav a:hover {
  cursor: pointer;
  background-color: $light-gray;
}
.all-link {
  text-decoration: underline;
}
