// #sections-sidebar-btn {
//   position: relative;
//   display: block;
// }

// #sections-sidebar-btn:hover {
//   display: block;
//   position: absolute;
//   cursor: pointer;
//   opacity: 1;
//   z-index: 1;
//   top: 27px;
//   left: 52px;
// }
.sections-nav {
  opacity: 0;
  display: none;
  position: relative;
}

.sections-nav .expand {
  opacity: 1;
}

.dropdown {
  position: relative;
}
.dropdown > ul {
  display: none;
  position: absolute;
}
.dropdown:hover > ul {
  display: block;
}

.dropdown li {
  position: relative;
}
.dropdown li:after,
.dropdown li:before {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  border-left: 5px solid gray;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  width: 0;
  height: 0;
}
.dropdown li:after {
  right: 2px;
  border-left: 5px solid white;
  z-index: 1;
}

// @media only screen and (max-width: 1000px) {
//   .sections-nav:hover ul {
//     display: block;
//     position: relative;
//     cursor: pointer;
//     z-index: 1;
//   }
// }
